.b-sidebar {
	color: #868686; font-size: 16px;
	margin-bottom: 30px;  padding-top: 30px;
    border-top: 1px solid #dddddd;
    + .b-sidebar {
	    margin-top: 30px; padding-top: 30px;
	    border-top: 1px solid #dddddd;
    }
	&__menu {
		margin-bottom: 30px; padding-top: 31px;
		background-image: url("../images/menu.png");
		background-position: left top;
		background-repeat: no-repeat;
    	dt {
			text-transform: uppercase;
    		margin-bottom: 20px;
    	}
    	dd {
    		color: #27252C;
    		margin-top: 16px;
    		&:first-child {
    			margin-top: 0;
    		}
    	}
    	a {
    		@include transition(all, 0.3s, ease-out);
    		text-decoration: none;
    		padding-bottom: 4px; padding-top: 4px;
    		border-bottom: 2px solid transparent;
    		&:hover, &:active { border-color: #ee4455; }
    	}
    	&:first-child {
    		margin-top: 0; padding-top: 0;
    		background: none;
    	}
	}
	&__phone {
		margin-bottom: 30px; padding-bottom: 31px;
	    text-transform: uppercase;
		background-image: url("../images/menu.png");
	    background-position: left bottom;
	    background-repeat: no-repeat;
	    span {
	    	display: block;
	    	color: #27252c; font-size: 24px;
	    	margin-top: 20px;
	    }
	}
	&__time {
		text-transform: uppercase;
		span {
			display: block;
		    font-style: italic;
		    text-transform: lowercase;
		    margin-top: 20px;
		}
		strong {
			display: block;
			color: #27252c; font-style: normal; font-weight: normal;
		}
	}
}