.b-products {
	&__list {
		@include clearfix;
		&__item {
			position: relative;
			float: left;
			width: 25%; height: 292px;
			padding: 40px 10px;
			&.double {
				width: 50%;
			}

			&:hover {
				.b-products__list__title {
					position: absolute; bottom: 0;
					background-color: transparent;
					p { color: $white; }
				}
				.b-products__list__menu {
					opacity: 1;
				}
			}
		}
		&__image {
			position: absolute; top: 0; bottom: 0; left: 0; right: 0;
			z-index: 0;
			cursor: pointer;
			img { width: 100%; height: 100%;}
		}
		&__title {
			@include transition(all, 0.3s, ease-out);

			position: relative;
			display: inline-block;
			padding: 5px 10px;
			background-color: $white;
			z-index: 10;
			p {
				display: inline-block;
				font-size: 22px; color: #262626;
				text-transform: uppercase;

			}
		}
		&__menu {
			@include transition(all, 0.3s, ease-out);
			position: absolute; left: 0; top: 0; right: 0; bottom: 0;
			padding: 40px 20px;
			background-color: rgba(114, 192, 72, 0.85);
			opacity: 0;
			li { margin-bottom: 10px; }
			a {
				font-size: 14px; color: $white;
				text-decoration: underline; text-transform: uppercase;
				&:hover { color: $white; }
			}
		}
	}
}