.b-switcher {
	position: fixed; left: 0; top: 50%;
	font-size: 18px;
	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	transform: rotate(-90deg);
	z-index: 2000;
	&__wrapper {
		@include clearfix;
		position: relative;
	}
	ul {
		list-style: none;
		li {
			float: left;
			a {
				display: inline-block;
				width: 100%;
				color: #FFF;
				text-decoration: none;
				padding: 8px 12px;
			}
			&:first-child {
				background: $green;
			}
			&:last-child {
				background: $black;
			}

			&:hover, &.active {
				background-color: #FFF;
				a { color: $black; }
			}
		}
	}
}