.b-offer {
	width: 270px;
	text-align: left;
	margin: 0 auto;
	&__image {
		position: relative;
		width: 270px; height: 193px;
		background-color: $white;
		border: 5px $white solid;
		overflow: hidden;
		img {
			vertical-align: top;
		}
		&__wrapper {
			position: relative;
		}
		&__overlay {
			@include transition(all, 0.3s, ease-out);

			position: absolute; top: 0; right: 0; bottom: 0;
			width: 50%;
			padding: 0 0 19px 13px;
			background-color: $red;
			&:after {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			p {
				display: inline-block;
				min-width: 100px;
				color: $white; font-family: $secondary-font; font-size: 21px;
				text-transform: lowercase; line-height: 1em;
				vertical-align: bottom;
				white-space: nowrap;
			}
		}
	}
	&__text {
		padding: 16px 0 0 2px;
		h4 {
			color: $white;
			margin-bottom: 3px;
		}
		p {
			width: auto;
			color: $white; font-size: 16px; font-weight: 300; text-align: left;
			line-height: 1.4em;
			padding-top: 0;
		}
	}
}