.b-tooltip {
	// position: fixed; right: 0; bottom: 0;
	h4 {
		font-size: 21px; font-weight: 500; color: #202020;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px; color: #202020; font-style: normal;
		margin-bottom: 10px;
		span {
			display: block;
			font-style: italic; font-weight: 300; font-size: 14px;
		}
	}
	&__wrapper {
		position: relative;
		width: 460px; height: 180px;
		padding: 25px 0 0 28px;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

	}
	&__close {
		position: absolute; right: 20px; top: 20px;
		display: inline-block;
		width: 19px; height: 19px;
		background-image: url('../images/close.png');
		background-position: 0 0;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	&__image {
		position: absolute; bottom: 0; right: 10px;
		min-width: 260px; text-align: center;
		line-height: 0;
		img { display: inline-block; }
	}

	.b-button {
		&__container {
			padding: 18px 0 0 0;
			text-align: left;
		}
	}
	.b-form {
		padding: 0;
		background: none;
		border: none;
		form {

		}
		&__input {
			float: left;
			width: 190px;
			input { background-color: #EEEEEE; }
		}
		&__submit {
			position: relative;
			float: left;		}
		&__search {
			@include susy-clearfix;
			.b-form__input { margin-bottom: 0; }
			input {
				height: 40px;

			}
		}
	}
}