.b-counter {
	&.active {
		> a {

			z-index: 9999;
		}
	}
	&__icon {
		display: table-cell;
		width: 25px; height: 25px;
		text-align: center; vertical-align: middle;
		padding-top: 5px;
		cursor: pointer;
		border: 1px #F06461 solid;
		i {
			display: inline-block;
			width: 11px; height: 11px;
			background-image: url("../images/ui-counter.png");
		}
		&.minus {
			i { background-position: 0 0; }
		}
		&.plus {
			i { background-position: -13px 0; }
		}
	}
}