<div id="page">
    <div class="container"><a href="#" class="b-close_modal js-close_modal" id="close_modal">Close</a></div>
    <div class="b-switcher js-switcher">
        <div class="b-switcher__wrapper">
            <ul>
                <li class="b-switcher__button js-switcher-button"><a href="#">Самовывоз</a></li>
                <li class="b-switcher__button js-switcher-button active"><a href="#">Доставка</a></li>
            </ul>
        </div>
    </div>
    <section class="b-section delivery_method">
        <div class="container">
            <div class="b-title center">
                <h3>ВЫБЕРИТЕ СПОСОБ ДОСТАВКИ</h3>
                <p>Выбор способа влияет на стоимость блюд Roll’ N’ Roll</p>
            </div>
        </div>
    </section>
    <section class="b-section js-fix">
        <div class="container">
            <div class="b-title">
                <h3>МЕНЮ ROLL’N’ROLL</h3>
            </div>
            <nav class="b-nav sub">
                <ul>
                    <li><a href="#">Суши</a></li>
                    <li><a href="#">Маки роллы</a></li>
                    <li><a href="#">Роллы</a></li>
                    <li><a href="#">Запеченные роллы</a></li>
                    <li class="active"><a href="#">Темпура роллы</a></li>
                    <li><a href="#">Горячее</a></li>
                    <li><a href="#">Салаты</a></li>
                    <li><a href="#">Десерты</a></li>
                    <li><a href="#">Роллы</a></li>
                    <li><a href="#">Запеченные роллы</a></li>
                    <li class="active"><a href="#">Темпура роллы</a></li>
                    <li><a href="#">Горячее</a></li>
                    <li><a href="#">Салаты</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="b-section catalogue">
        <div class="container">
            <div class="b-section__row">
                <div class="b-section__col left">
                    <div class="b-catalogue js-catalogue">
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                        <div class="b-catalogue__item js-catalogue-item">
                            <div class="b-catalogue__item__wrapper">
                                <div class="b-catalogue__item__image">
                                    <img src="dist/images/roll.jpg">
                                    <div class="dark"><span>200 гр.<i></i>35 ккал</span></div>
                                </div>
                                <div class="b-catalogue__item__content">
                                    <div class="b-catalogue__item__title">
                                        <h4>Копченный угорь</h4>
                                    </div>
                                    <div class="b-catalogue__item__description">
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                        <p>Легкий куриный бульон с лапшой фетуччи, куриной грудкой, суком-пореем и перепелиным яйцом</p>
                                    </div>
                                </div> <!-- /content -->
                                <div class="b-catalogue__item__price">
                                    <span>145</span> <img src="dist/images/rub_black.png">
                                </div>
                                <div class="b-catalogue__item__to-cart js-counter">
                                    <a href="#" class="cart js-counter-start">Купить</a>
                                    <div class="quantity js-counter-pane">
                                        <a href="#" class="js-counter-minus"><img src="dist/images/minus.png"></a>
                                        <span>1</span>
                                        <a href="#" class="js-counter-plus"><img src="dist/images/plus.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /item -->
                    </div> <!-- /b-catalogue -->
                </div> <!-- /col -->
                <div class="b-section__col right">
                    <div class="b-sidebar">
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>ПО ТИПУ</dt>
                                <dd><a href="#">Новинки</a></dd>
                                <dd><a href="#">Популярные</a></dd>
                                <dd><a href="#">Все суши</a></dd>
                            </dl>
                        </div>
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>ПО ВКУСУ</dt>
                                <dd><a href="#">Острые</a></dd>
                                <dd><a href="#">Вегетарианские</a></dd>
                                <dd><a href="#">Экзотические</a></dd>
                            </dl>
                        </div>
                    </div> <!-- /sidebar -->
                    <div class="b-sidebar">
                        <div class="b-sidebar__phone">ЗАКАЗАТЬ ПО ТЕЛЕФОНУ<span>500-500</span></div>
                        <div class="b-sidebar__time">ПРИЕМ ЗАКАЗОВ<span><strong>10:00 &ndash; 23:00</strong>пн, вт, ср, чт, вс</span><span><strong>10:00 &ndash; 01:00</strong>пт, сб</span></div>
                    </div> <!-- /sidebar -->
                    <div class="b-sidebar">
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>КАТЕГОРИИ</dt>
                                <dd><a href="#">Молоко</a></dd>
                                <dd><a href="#">Творог</a></dd>
                                <dd><a href="#">Сметана</a></dd>
                                <dd><a href="#">Сливки</a></dd>
                                <dd><a href="#">Сыр</a></dd>
                                <dd><a href="#">Масло</a></dd>
                            </dl>
                        </div>
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>КАТЕГОРИИ</dt>
                                <dd><a href="#">Молоко</a></dd>
                                <dd><a href="#">Творог</a></dd>
                                <dd><a href="#">Сметана</a></dd>
                                <dd><a href="#">Сливки</a></dd>
                                <dd><a href="#">Сыр</a></dd>
                                <dd><a href="#">Масло</a></dd>
                            </dl>
                        </div>
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>ПО ТИПУ</dt>
                                <dd><a href="#">Новинки</a></dd>
                                <dd><a href="#">Популярные</a></dd>
                                <dd><a href="#">Все суши</a></dd>
                            </dl>
                        </div>
                        <div class="b-sidebar__menu fadeIn">
                            <dl>
                                <dt>ПО ВКУСУ</dt>
                                <dd><a href="javascript:;">Острые</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="b-tooltip__wrapper">
        <div class="b-tooltip">
            <div class="b-tooltip__close"></div>
            <div class="b-tooltip__image"><img src="dist/images/bg-tooltip.png" alt=""></div>
            <h4>Любой ролл в подарок</h4>
            <p>акция действует при заказе<br> от 650 рублей</p>
            <div class="b-button__container">
                <div class="b-button">Выбрать ролл</div>
            </div>
        </div>
    </div>
</div>