.b-modal {
	@include transition(all, 0.3s, ease-out);

	visibility: hidden;
	position: absolute; right: -220px; top: -30%;
	width: 220px; height: 100%;
	line-height: normal;
	padding-left: 20px;
	background-color: #27252c;
	opacity: 0;
	z-index: 100;

	&__title {
		padding-top: 20px;
		margin-bottom: 10px;
		h4 { color: #fff; font-size: 16px; }
	}
	&__content {
		width: 180px; height: 70%;
		padding-right: 14px; margin-bottom: 20px;
	    outline: 0 !important;
	    overflow: auto;
	    a {
	    	@include transition(all, 0.3s, ease-out);

	    	display: block;
	    	height: 26px;
		    color: #fff; text-decoration: none; font-size: 12px;
		    margin-bottom: 18px; padding-left: 34px;
		    background-image: url(../images/ingridient.png);
		    background-repeat: no-repeat;
		    background-position: left 1px;
		    &.ok {
		    	background-image: url(../images/ingridientok.png);
		    }

		    span {
		    	display: block; left: 20px; bottom: 0px;
		    	font-weight: 300;
		    }
		}
	}
	&__footer {
		position: absolute;
		height: 35px; width: 180px;
		font-size: 16px; color: #fff;
    	line-height: 35px;
    	border-top: 1px solid #615f64;
	}
	.jspVerticalBar {
		width: 6px;
	    height: 100%;
	    background: #666;
	    border-radius: 4px;
	}
	.jspTrack {
		background: #666666;
    	border-radius: 4px;
	}
	.jspDrag {
		top: 0; left: 0;
		background: #bbbbbb;
    	border-radius: 4px;
    	cursor: pointer;
	}
}

.arcticmodal-container {
	padding-top: 150px;
}
.arcticmodal-container_i {
	width: 100%;
}
.arcticmodal-overlay {
	.arcticmodal-loading {
		position: absolute; left: 50%; top: 50%;
		margin-top: -40px; margin-left: -40px;

	}
}
