.b-footer {
	position: relative;
	background-image: $bg-footer;
    background-position: center bottom;
    background-repeat: no-repeat;

	p { color: $white; }

	&__top {
		padding-top: 80px;
		.b-section__row {
			margin-bottom: 75px;
		}
		.b-section__col {
			&:first-child { margin-right: 85px; }
			&:last-child { margin-left: 69px; }
		}
	}
	&__bottom {
		padding: 15px 0 20px;
		.b-section__col {
			&:last-child {
				float: right;
			}
		}
	}
	&__info {
    	width: 370px;
    	padding: 40px 25px 30px 40px;
    	font-size: 16px; color: #fff;
    	line-height: 25px;
    	background-color: $green;
    	&__adress, &__phone {
    		@include transition(all, 0.3s, ease-out 0s);

			position: relative;
			font-weight: 300;
			padding-left: 35px; margin-bottom: 50px;
    		background-color: rgba(0, 0, 0, 0);
    		background-repeat:  no-repeat;
    		background-position: left top;

    		&:hover {
    			&:before {
    				top: -30px;
    				opacity: 0;
    			}
    		}
    		&:before {
    			@include transition(all, 0.3s, ease-out 0s);

    			position: absolute; left: 0; top: 0;
    		}
			a {
    			@include transition(all, 0.3s, ease-out);

				display: inline-block;
    			color: #fff; text-decoration: none;
    			padding-bottom: 5px;
    			border-bottom: 1px dashed;
    		}
    		span {
    			display: block;
    			font-size: 18px; font-weight: 500;
    		}
    	}
    	&__adress {
			&:before {
				@include icon-before(28px, 40px);

				background-position: -26px -135px;
			}
    	}
    	&__phone {
    		margin-bottom: 25px;
    		span {
    			font-size: 24px; line-height: 1.2em;
    			margin-bottom: 10px;
    		}
    		&:before {
				@include icon-before(22px, 40px);

				background-position: 0 -135px;
			}
    	}
    	.b-button {
    		background-color: $green;
    		border-color: #fff;
			&__container {
				padding: 0;
			}
    	}
	}

	&__social {
		width: 290px;
		text-align: center;
		padding-top: 30px;
		&:hover { img { top: 15px; } }
		img {
			@include transition(all, 0.3s, ease-out);

		    position: relative; top: 0px;
		}
		span {
			display: block;
			color: #fff; font-size: 18px; font-weight: 300;
			padding: 36px 50px 24px;
			background-image: url('../images/socline.png');
    		background-repeat: no-repeat;
    		background-position: center top;
    	}
    	strong { font-size: 18px; font-weight: 500; color: #fff; }
		.b-button {
			background: transparent;
			border-color: $green;
			&__container {
				padding: 24px 0 42px;
			}
		}
	}
	&__logo {
		width: 370px;
		text-align: center;
		margin: 20px 0 10px;
		a {
			display: inline-block;
			height: 58px; width: 146px;
			margin-left: 15px;
			&:hover { img { transform: scale(0.9); } }
		}
		span {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		img {
			@include transition(all, 0.3s, ease-out);
			height: 100%; width: 100%;
		}
	}
	&__copyright {
		width: 210px;
		font-size: 16px; color: #fff; text-align: center;font-weight: 300;
		margin: 10px 30px 0 90px; //padding: 0 70px 0 90px;
		p { font-size: 12px; }
	}
	&__adress, &__phone {
		position: relative;
		&:before {
			@include transition(all, 0.3s, ease-out);

			display: inline-block;
			position: absolute; left: 0; top: 0;
			content: "";
			background-image: $ui-img;
			background-repeat: no-repeat;
		}
		&:hover {
			&:before {
				top: -30px;
				opacity: 0;
			}
		}
	}
	&__adress {
		font-size: 16px; text-align: left; font-weight: 300;
		padding: 10px 0 0 30px;
		margin: 0 44px 0 70px;
		&:before {
			width: 22px; height: 30px;
			background-position: 0 0;
		}
		span {
			display: block;
			font-size: 14px;
			margin-top: 15px;
		}
	}
	&__phone {
		font-size: 24px; font-weight: 300;
		//margin-top: -24px;

		&:before {
			width: 17px; height: 30px;
			background-position: -29px 0;
		}

		span {
			@include transition(all, 0.3s, ease-out);
			display: block;
			background-repeat: no-repeat;
			background-position: left top;
			padding: 3px 0 0 30px;
		}
		small {
			display: block;
			font-size: 14px;
			line-height: 20px;
    		margin-top: 6px;
		}

		&:hover {
			span { background-position: 0 43px; }
		}
	}
	&__gp {
		font-weight: 300;
    	//margin-top: -16px;
    	a {
    		display: block;
    		color: #fff; font-size: 14px; text-decoration: none;
    		span {
				display: block;
				margin-top: 10px;
				transition: transform 1s ease 0s;
    		}

    		&:hover {
    			span {
    				transform: rotateX(360deg);
    				transform-style: preserve-3d;
    			}
    		}
    	}
	}
	&__line {
		position: absolute; left: 0; top: 575px;
		height: 1px; width: 100%;
	    background-image: url(../images/footerline.png);
	    background-repeat: no-repeat;
	    background-position: center 0;
	}
	.b-button {
		&__container {
			text-align: center;

		}
	}
	.b-nav {
		padding-top: 20px;
		background-image: none;
		li {
			margin-right: 20px; padding-left: 28px;
			&:before { margin-top: 0; }
		}
		a {
			@include transition(all, 0.3s, ease-out);

    		color: $white; font-size: 14px; font-weight: 300; text-decoration: none;
    		padding-bottom: 5px;
    		border-bottom: 1px solid transparent;
    		&:hover { border-bottom-color: $white; }
		}
	}
}