.b-nav {
	background-image: url("../images/menutop.png");
	background-position: 50% 0;
	background-repeat: no-repeat;
	nav {
		text-align: center;
		background-image: url("../images/menutop.png");
		background-position: 50% 100%;
		background-repeat: no-repeat;
	}
	ul {
		@include susy-clearfix;

		display: inline-block;
		vertical-align: top;
		line-height: 0;
		list-style: none;
		margin: 0;
	}
	li {
		position: relative;
		float: left;
		font-size: 18px; font-weight: 300;
		text-align: left;
		line-height: 1.2em;
		padding-left: 33px; margin-right: 25px;
		a {
			display: block;
			color: $white; text-decoration: none;
			line-height: 1.2em;
			padding: 17px 0 13px;
			border-bottom: 5px solid transparent;
			&:hover { border-bottom-color: #cec8cb; }
		}
		&:before {
			position: absolute; top: 50%; left: 0;
			display: inline-block;
			width: 8px; height: 8px;
			margin-top: -5px;
			content: "";
			background-image: $ui-img;
			background-repeat: no-repeat;
			background-position: 0 -41px;
		}
		&:first-child {
			padding-left: 0;
			&:before {
				content: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&.active {
			a {
				border-bottom-color: #cec8cb;
			}
		}
	}
	&__logo { display: none; }
	&__phone {
		display: none;
		font-size: 18px; color: #fff; text-align: left;
		line-height: 21px;
		padding: 10px 0 0 10px; margin-left: 10px;
		border-left: 1px solid #3d3b42;
	}
	&__cart {
		display: none;
		a {
			@include transition(all, 0.3s, ease-out);

			display: inline-block;
		    position: relative;
		    line-height: 60px;
		    padding-left: 55px;
		}
		i {
			position: absolute; top: 50%; left: 10px;
		    display: inline-block;
		    width: 35px; height: 35px;
		    margin-top: -18px;
		    background-image: url("../images/cart2.png");
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    border-radius: 50%;
		}
		span {
			display: inline-block;
			color: $white; font-size: 18px; font-weight: 400;
		}
	}


	&.fixed {
		position: fixed; top: 0px; left: 0px;
		line-height: 60px;
		width: 100%; height: 60px;
		background-color: #27252C;
		background-image: none;
		z-index: 2000;

		nav {
			float: left;
			background-image: none;
		}

		ul {
			@include clearfix;
		}
		li {
			float: left;
			padding-left: 0;
			margin-right: 20px;
			&:before {
				display: none;
			}
			&:first-child {
				border-left: 1px solid #3d3b42;
				padding-left: 20px;
			}
			&:last-child { margin-left: 0px; }
			+ li {
				margin-left: 0; padding-left: 0px;
				background: none;
			}
			a {
				height: 59px;
				line-height: 60px;
				padding: 0;
			}
		}

		.b-nav__logo {
			display: block;
			float: left;
			a {
				display: inline-block;
				vertical-align: top;
			}
		}
		.b-nav__phone {
			display: block;
			float: left;
			display: block;
			height: 59px;
		}
		.b-nav__cart {
			display: block;
			float: right;
			display: block;
			text-align: left;
			border-left: 1px solid #3d3b42;
			a {
				width: 125px;
				&:hover, &.active {
					background-color: #EE4A55;
					i { background-color: #D0444F; }
				}
			}
		}
	}
	&.sub {
		padding: 4px 0 0;
		li {
			font-size: 18px; font-weight: 300;
			margin-right: 40px; padding-left: 0;
			&:last-child { margin-right: 0; }
			&.active {
				font-weight: 500;
				a {
					color: #26252C;
					background-position: 0px bottom;
					border-bottom: 0;
				}
			}
		}
		a {
			display: block;
			color: #666;
			text-decoration: none;
			padding-bottom: 13px; padding-top: 0;
			background-image: url(../images/redline.png);
			background-repeat: no-repeat;
			background-position: -300px bottom;
			border: 0;
			@include transition(all, 0.5s, linear);
			&:hover {
				color: #26252C;
				background-position: 0px bottom;

			}
		}
	}
}