h1 {
	font-family: $secondary-font;
}

h2 {

}
h4 {
	font-size: 18px; line-height: 1.2em; font-weight: 400;
}

a {
	text-decoration: underline;
	color: $link-color;
	&:hover {
		text-decoration: none;
	}
}

.text {
	p {

	}
}