.b-icon {
	display: inline-block;
	background-image: $ui-img;
	background-repeat: no-repeat;
	&.social {
		@include transition(all, 0.3s, ease-out);

		position: relative; top: 0;
		width: 60px; height: 60px;

		&:hover { top: 15px; }

		&.inst { background-position: 0px -61px; }
		&.vk { background-position: -63px -61px; }
	}
}