.b-button {
	display: inline-block;
	height: 38px;
	font-size: 18px; color: #fff;
	line-height: 40px; text-decoration: none;
	padding: 0 30px;
	border: 1px solid #ee4455;
	background-color: #ee4455;
	@include transition(all, 0.3s, ease-out);
	&:hover {
		color: #222222;
		background-color: #eeeeee;

	}
	&__container {
		text-align: center;
	}
}
.b-close_modal {
    display: block;
    position: relative;
    top: -25px;
    width: 50px;
    height: 41px;
    font-size: 0px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/method.png) no-repeat;
}
