.b-section {
	&__row {
		@include clearfix;

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__col {
		position: relative;
		float: left;

		&:last-child {
			margin-right: 0;
		}

		&.m-3 {
			@include span(4 of 12 inside no-gutters);
		}

		&.m-pdt50 { padding-top: 50px; }
	}

	&.special_offers {
		padding-bottom: 10px;
		background-color: $gray;
		h2 {
			font-size: 36px; color: $white; font-weight: 300; text-align: center;
			padding: 42px 0 28px;
		}
		.b-slider {
			&__item {
				padding: 0;
			}
		}
		.b-section__col {
			@include span(4 of 12 inside no-gutters);
			&:last-child {
				@include last;
			}
		}
		.b-slider {
			&__item {
				height: 320px;
				padding: 0 57px;
			}
			&.owl-theme {
				.owl-nav {
					top: 70px;
				    width: 100%;
				}
			}
		}
	}
	&.reviews {
		background-image: url('../images/pages/main/bg-rev-slider.jpg');
	}
}